<form [formGroup]="advertisingFormGroup">
  @if (error) {
  <div
    class="p-3 mb-2 border rounded border-danger-subtle bg-danger-subtle text-danger-emphasis"
  >
    {{ error }}
  </div>
  }
  <div class="row mb-3">

  </div>

  <div class="row mb-3">
    <div class="col-md-6">
      <label for="referenceId" class="form-label">Reference ID</label>
      <input
        formControlName="referenceId"
        type="text"
        class="form-control"
        id="referenceId"
        placeholder="Enter reference ID"
      />
    </div>
    <div class="col-md-6">
      <label for="redirectUrl" class="form-label">Redirect URL</label>
      <input
        formControlName="redirectUrl"
        type="text"
        class="form-control"
        id="redirectUrl"
        placeholder="Enter Redirect URL"
      />
    </div>
    <div class="col-md-6">
      <label for="imageUrl" class="form-label">Image URL</label>
      <input
        formControlName="imageUrl"
        type="text"
        class="form-control"
        id="imageUrl"
        placeholder="Enter Image URL"
      />
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-md-6">
      <label for="bannerText" class="form-label">Banner Text</label>
      <input
        formControlName="bannerText"
        type="text"
        class="form-control"
        id="bannerText"
        placeholder="Enter Banner Text"
      />
    </div>
  </div>
  <div class="row mb-3 align-items-end">
    <div class="col-md-4">
      <label for="sizeId" class="form-label">Size</label>
      <select formControlName="sizeId" class="form-select" id="sizeId">
        <option value="" disabled selected hidden>Select Size</option>
        <option *ngFor="let size of sizes" [value]="size.sizeId">
          {{ size.sizeType }} - {{ size.sizeValue }}
        </option>
      </select>
    </div>
    <div class="col-md-4">
      <label for="priorityId" class="form-label">Priority</label>
      <select formControlName="priorityId" class="form-select" id="priorityId">
        <option value="" disabled selected hidden>Select Priority</option>
        <option
          *ngFor="let priority of priorities"
          [value]="priority.priorityId"
        >
          {{ priority.priorityType }} - {{ priority.priorityValue }}
        </option>
      </select>
    </div>
    <div class="col-md-4">
      <input
        class="form-check-input"
        type="checkbox"
        id="allPages"
        (click)="onAllPagesCkeck()"
      />
      <label for="allPages" class="form-label ms-2"
        >All Pages: {{ allPagesFee }}</label
      >
    </div>
  </div>
  <div class="row md-3">
    <div formArrayName="targets">
      @for (target of targets; track target.targetId) {
      <div class="form-check">
        <input
          class="form-check-input"
          type="checkbox"
          [value]="target.targetId"
          (change)="onCheckboxChange($event)"
          [id]="'targetCheck' + target.targetId"
        />
        <label class="form-check-label" [for]="'targetCheck' + target.targetId">
          {{ target.targetTitle }}
        </label>
      </div>
      }
    </div>
    <p>IDs seleccionados: {{ advertisingFormGroup.get("targets")?.value }}</p>
  </div>
  <div class="row mb-3">
    <div class="col-md-6">
      <label for="fromDate" class="form-label">From Date</label>
      <input
        formControlName="fromDate"
        type="date"
        class="form-control"
        id="fromDate"
        placeholder="yyyy-MM-dd"
      />
    </div>
    <div class="col-md-6">
      <label for="toDate" class="form-label">To Date</label>
      <input
        formControlName="toDate"
        type="date"
        class="form-control"
        id="toDate"
        placeholder="yyyy-MM-dd"
      />
    </div>
  </div>
  <div class="mt-3 row justify-content-end">
    <div class="col-auto">
      <button type="submit" class="btn btn-primary" (click)="submit()">
        Submit
      </button>
    </div>
  </div>
</form>
