<form [formGroup]="advertiserFormGroup">
  @if (error) {
  <div class="p-3 mb-2 border rounded border-danger-subtle bg-danger-subtle text-danger-emphasis">
    {{error}}
  </div>
  }

  <div class="row mb-3">
    <div class="col-md-6">
      <label for="companyName" class="form-label">Company name</label>
      <input
        formControlName="companyName"
        class="form-control"
        id="companyName"
        placeholder="My Company"
        autocomplete="true"
      />
    </div>
    <div class="col-md-6">
      <label for="bussinesName" class="form-label">Bussines name</label>
      <input
        formControlName="bussinesName"
        class="form-control"
        id="bussinesName"
        placeholder="Bussines, S.L."
        autocomplete="true"
      />
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-md-6">
      <label for="agentFirstname" class="form-label">Agent Firtsname</label>
      <input
        formControlName="agentFirstname"
        class="form-control"
        id="agentFirstname"
        placeholder="John"
        autocomplete="true"
      />
    </div>
    <div class="col-md-6">
      <label for="agentLastname" class="form-label">Agent Lastname</label>
      <input
        formControlName="agentLastname"
        class="form-control"
        id="agentLastname"
        placeholder="Doe"
        autocomplete="true"
      />
    </div>
  </div>

  <div class="row mb-3">
    <div class="col-md-7">
      <label for="email" class="form-label">Email</label>
      <input
        formControlName="email"
        type="email"
        class="form-control"
        id="email"
        aria-describedby="email"
        placeholder="example@email.com"
        autocomplete="true"
      />
    </div>
    <div class="col-md-4">
      <label for="phone" class="form-label">Phone</label>
      <input
        formControlName="phone"
        class="form-control"
        id="phone"
        placeholder="(11) 1234-5678"
        autocomplete="true"
      />
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-md-3">
      <label for="serviceType" class="form-label">Service type</label>
      <select
        formControlName="serviceType"
        class="form-select"
        id="serviceType"
        (change)="onServiceTypeChange()"
      >
        <option value="" disabled selected hidden>Service type</option>
        <option value="REST">REST</option>
        <option value="SOAP">SOAP</option>
        <option value="ACCOUNT">Account</option>
      </select>
    </div>
    <div class="col-md-4">
      <label for="password" class="form-label">Password</label>
      <input
        formControlName="password"
        type="password"
        class="form-control"
        id="password"
        placeholder="********"
        autocomplete="true"
      />
    </div>
    <div class="col-md-5">
      <label for="apiUrl" class="form-label">API URL</label>
      <input
        formControlName="apiUrl"
        class="form-control"
        id="apiUrl"
        placeholder="https://www.example.com/api/v1"
        autocomplete="true"
      />
    </div>
  </div>
  <div class="row">
    <div class="mb-3">
      <label for="authToken" class="form-label">Authentication Token</label>
      <input
        formControlName="authToken"
        class="form-control"
        id="authToken"
        placeholder="SECRET_TOKEN"
        autocomplete="true"
      />
    </div>
  </div>
  
  <div class="mt-3 row justify-content-end">
    <div class="col-auto">
      <button type="submit" class="btn btn-primary" (click)="submit()">
        Submit
      </button>
    </div>
  </div>
  
</form>
