<div
  [ngClass]="
    type() === 'carousel'
      ? 'row overflow-x-auto d-flex flex-row flex-nowrap'
      : 'row'
  "
>
  @for (film of films(); track film.filmId) {
  <div class="col-md-4 col-sm-6 mb-4" (click)="onFilmClick.emit(film)">
    <div class="card">
      <div class="card-header">
        <p>{{ film.platforms.replaceAll(',', ', ') }}</p>
      </div>
      <div class="ratio-container">
        <img [src]="film.cover" [alt]="film.title + 'cover'" />
      </div>

      <div class="card-info">
        <h2>{{ film.title }}</h2>
        <p>Año: {{ film.year }}</p>
        <p>Director: {{ film.director }}</p>
        <p>{{ film.description }}</p>
        <p>{{ film.actors.replaceAll(',', ', ') }}</p>
      </div>
    </div>
  </div>
  }
</div>
