.iframe-content {
  background-color: black;
  color: white;
  justify-content: center;
  text-align: center;
}


.section-title {
  display: flex;
  align-items: center;
  border-bottom: 2px solid white;
}

.film-icon {
  width: 28px;
  margin-right: 10px;
  margin-bottom: 4px;
}

