<div class="table-container">
  <div class="row">
    <div class="col">
      <div class="section-title mb-4">
        <h2 i18n>Advertisings</h2>
      </div>
    </div>

    <app-table
      [headers]="headers"
      [items]="filteredList"
      (onEdit)="onEditItem($event)"
      (onDelete)="onDeleteItem($event)"
      (onFilterInput)="filterAdvertisings($event)"
    />
  </div>

  <div class="row">
    <app-custom-modal
      [modalTitle]="modalTitle"
      (onClose)="onModalClose()"
      [showButton]="showAddNewButton()"
    >
      <app-advertising-form
        [advertisingId]="itemSelected?.advertisingId!"
        [advertiserId]="advertiserId()"
        (doRefresh)="refreshList()"
      />
    </app-custom-modal>
  </div>
</div>
