<header>
  <div class="hero">
    <div class="container">
      <img class="mb-5" src="../../../assets/ss-name.svg" alt="logo" />
      <h1 i18n>Access all your streaming content in one place</h1>
      <p i18n>
        Streaming Studio allows you to sync your favourite streaming accounts
        and enjoy all your content on one convenient platform.
      </p>
      <a href="/signup" class="btn btn-outline-light" i18n>Start now</a>
    </div>
  </div>
</header>

<section id="features" class="features">
  <div class="container">
    <h2 i18n>Main features</h2>
    <div class="feature">
      <h3 i18n>Account synchronisation</h3>
      <p i18n>
        Sync your favourite streaming accounts, such as Netflix, Hulu, Amazon
        Prime Video and more.v
      </p>
    </div>
    <div class="feature">
      <h3 i18n>Intuitive interface</h3>
      <p i18n>
        Easily navigate through your synchronised content with a simple and easy
        to use interface.
      </p>
    </div>
    <div class="feature">
      <h3 i18n>Access from any device</h3>
      <p i18n>
        Enjoy your favourite content from your computer, smartphone, tablet or
        TV.
      </p>
    </div>
  </div>
</section>

<section id="how-it-works" class="how-it-works">
  <div class="container">
    <h2 i18n>How it works</h2>
    <div class="step">
      <div class="number">
        <h1>1</h1>
      </div>
      <h3 i18n>Sign up</h3>
      <p i18n>Create a free account at Streaming Studio.</p>
    </div>
    <div class="step">
      <div class="number">
        <h1>2</h1>
      </div>
      <h3 i18n>Synchronise your accounts</h3>
      <p i18n>
        Connect your favourite streaming accounts to your Streaming Studio.
      </p>
    </div>
    <div class="step">
      <div class="number">
        <h1>3</h1>
      </div>
      <h3 i18n>Enjoy your content</h3>
      <p i18n>
        Access all your streaming content in one place and enjoy a convenient experience.
      </p>
    </div>
  </div>
</section>

<section id="pricing" class="pricing">
  <div class="container">
    <h2 i18n>Prices</h2>
    <p i18n>
      Streaming Studio offers flexible plans to meet your needs.
    </p>
    <div class="plans">
      <div class="plan">
        <h3 i18n>Basic Plan</h3>
        <p i18n>Free</p>
        <ul>
          <li i18n>Access to up to 2 streaming accounts</li>
          <li i18n>Basic interface</li>
          <li i18n>E-mail support</li>
        </ul>
      </div>
      <div class="plan">
        <h3 i18n>Premium Plan</h3>
        <p i18n>{{9.99 | currency}}/month</p>
        <ul>
          <li i18n>Unlimited access to all your streaming accounts</li>
          <li i18n>Advanced interface with additional functions</li>
          <li i18n>Priority support</li>
        </ul>
      </div>
    </div>
  </div>
</section>

<section id="contact" class="contact">
  <div class="container">
    <h2 i18n>Contact</h2>
    <p i18n>If you have any questions, please contact us!</p>
    <form>
      <input type="text" placeholder="Name" i18n-placeholder/>
      <input type="email" placeholder="E-mail address" i18n-placeholder />
      <textarea placeholder="Message" i18n-placeholder></textarea>
      <button type="submit" i18n>Send a message</button>
    </form>
  </div>
</section>
