<div class="container mb-5 mt-5">
  <div class="row mb-5">
    <div class="col">
      <h1>Admin Dashboard</h1>
    </div>
  </div>
  <div class="row mb-5">
    <div class="col-md-6">
      <app-targets-table />
    </div>

    <div class="col-md-6">
      <app-fee-table />
    </div>
  </div>

  <div class="row mb-5">
    <div class="col-md-6">
      <app-sizes-table />
    </div>
    <div class="col-md-6">
      <app-priorities-table />
    </div>
  </div>

  <div class="row mb-5">
    <div class="col-md-12">
      <app-platforms-table />
    </div>
  </div>
  
  <div class="row mb-5">
    <div class="col-md-12">
      <app-advertisers-table />
    </div>
  </div>

  <div class="row mb-5">
    <div class="col-md-12">
      <app-advertisings-table />
    </div>
  </div>
  
  
</div>
