<form [formGroup]="streamingPlatformFormGroup">
  @if (error) {
  <div
    class="p-3 mb-2 border rounded border-danger-subtle bg-danger-subtle text-danger-emphasis"
  >
    {{ error }}
  </div>
  }

  <div class="row mb-3">
    <div class="col-md-5">
      <label for="platformName" class="form-label" i18n>Platform Name</label>
      <input
        formControlName="platformName"
        class="form-control"
        id="platformName"
        placeholder="My Platform"
        autocomplete="true"
      />
    </div>
    <div class="col-md-7">
      <label for="email" class="form-label" i18n>Email</label>
      <input
        formControlName="email"
        type="email"
        class="form-control"
        id="email"
        aria-describedby="email"
        placeholder="example@email.com"
        autocomplete="true"
      />
    </div>
  </div>
  <div class="row mb-3 align-items-end">
    <div class="col-md-4">
      <label for="loginFeeId" class="form-label" i18n>Login Fee</label>
      <select formControlName="loginFeeId" class="form-select" id="loginFeeId">
        <option value="" disabled selected hidden i18n>Select Fee</option>
        <option *ngFor="let fee of loginFees" [value]="fee.feeId">
          {{ fee.feeType }} - ${{ fee.feeValue }}
        </option>
      </select>
    </div>
    <div class="col-md-4">
      <label for="signupFeeId" class="form-label" i18n>Signup Fee</label>
      <select
        formControlName="signupFeeId"
        class="form-select"
        id="signupFeeId"
      >
        <option value="" disabled selected hidden i18n>Select Fee</option>
        <option *ngFor="let fee of signupFees" [value]="fee.feeId">
          {{ fee.feeType }} - ${{ fee.feeValue }}
        </option>
      </select>
    </div>
    <div class="col-md-4">
      <label for="serviceType" class="form-label" i18n>Service type</label>
      <select
        formControlName="serviceType"
        class="form-select"
        id="serviceType"
        (change)="onServiceTypeChange()"
      >
        <option value="" disabled selected hidden i18n>Service type</option>
        <option value="REST">REST</option>
        <option value="SOAP">SOAP</option>
      </select>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-md-6">
      <label for="imageUrl" class="form-label" i18n>Logo URL</label>
      <input
        formControlName="imageUrl"
        class="form-control"
        id="imageUrl"
        placeholder="https://www.example.com/images/my-logo.jpg"
        autocomplete="true"
      />
    </div>

    <div class="col-md-6">
      <label for="apiUrl" class="form-label">API URL</label>
      <input
        formControlName="apiUrl"
        class="form-control"
        id="apiUrl"
        placeholder="https://www.example.com/api/v1"
        autocomplete="true"
      />
    </div>
  </div>
  <div class="row">
    <div class="mb-3">
      <label for="authToken" class="form-label" i18n>Authentication Token</label>
      <input
        formControlName="authToken"
        class="form-control"
        id="authToken"
        placeholder="SECRET_TOKEN"
        autocomplete="true"
      />
    </div>
  </div>

  <div class="mt-3 row justify-content-end">
    <div class="d-grid gap-2 mt-4">
      <button type="submit" class="btn btn-light" (click)="submit()" i18n>
        Create
      </button>
    </div>
  </div>
</form>
