.table td {
  max-width: 200px; /* Define el ancho máximo deseado */
  overflow: hidden;
  text-overflow: ellipsis; /* Agrega puntos suspensivos (...) al final del texto cortado */
  white-space: nowrap; /* Evita que el texto se divida en varias líneas */
}

.nothing-message{
  width: 100%;
}

.custom-table-container {
  max-height: 300px; /* Altura máxima deseada */
  overflow-y: auto;
  width: 100%;
  thead {
    position: sticky;
    top: 0;
    z-index: 1; /* Asegura que el encabezado esté por encima del cuerpo de la tabla */
   
  }

}
