<app-splash-screen></app-splash-screen>

<app-custom-modal [modalTitle]="film?.title!" [showButton]="false">
  <app-film-info [film]="film" (onPlayClick)="onPlayClick($event)" />
</app-custom-modal>

<app-advertising-frame [home]="true">
  <div class="row mb-5">
    <div class="col">
      <input
        type="text"
        (input)="filterFilms(filter.value)"
        i18n-placeholder
        placeholder="Buscar..."
        #filter
      />
      <div class="col-md-3">
        <label for="searchBy" class="form-label" i18n>By</label>
        <select class="form-select" id="searchBy" (change)="searchBy(by.value)" #by>
          <option value="all" selected i18n>All</option>
          <option value="title" i18n>Title</option>
          <option value="director" i18n>Director</option>
          <option value="actors" i18n>Actor</option>
          <option value="genres" i18n>Genres</option>
          <option value="description" i18n>Description</option>
          <option value="year" i18n>Year</option>
        </select>
      </div>
      <button (click)="onSearchClick()" i18n>Buscar</button>
    </div>
  </div>

  @if(showPrefilteredFilms){
    <div class="row mb-5">
   
      <h1 i18n>Top 10</h1>
      <app-film-list
        [films]="mostViewedFilms"
        (onFilmClick)="onFilmClick($event)"
        type="carousel"
      />
    </div>
  
    <div class="row mb-5">
      <h1 i18n>Highlighted Films</h1>
      <app-film-list
        [films]="highlightedFilms"
        (onFilmClick)="onFilmClick($event)"
        type="carousel"
      />
    </div>
  
    <div class="row mb-5">
      <h1 i18n>New Films</h1>
      <app-film-list
        [films]="newFilms"
        (onFilmClick)="onFilmClick($event)"
        type="carousel"
      />
    </div>
  
  }
  
  <div class="row mb-5">
    <h1 i18n>All</h1>
    <app-film-list [films]="films" (onFilmClick)="onFilmClick($event)" />
  </div>
</app-advertising-frame>
