<app-custom-modal [modalTitle]="film?.title!" [showButton]="false">
  <app-film-info [film]="film" (onPlayClick)="onPlayClick($event)" />
</app-custom-modal>

<app-advertising-frame [home]="true">
  <div class="row mb-5">
    <h1>Top 10</h1>
    <app-film-list
      [films]="mostViewedFilms"
      (onFilmClick)="onFilmClick($event)"
      type="carousel"
    />
  </div>

  <div class="row mb-5">
    <h1>Highlighted Films</h1>
    <app-film-list
      [films]="highlightedFilms"
      (onFilmClick)="onFilmClick($event)"
      type="carousel"
    />
  </div>

  <div class="row mb-5">
    <h1>New Films</h1>
    <app-film-list
      [films]="newFilms"
      (onFilmClick)="onFilmClick($event)"
      type="carousel"
    />
  </div>

  <div class="row mb-5">
    <h1>All</h1>
    <app-film-list [films]="films" (onFilmClick)="onFilmClick($event)" />
  </div>
</app-advertising-frame>
