<form [formGroup]="sizeTypeFormGroup">
  @if (error) {
  <div
    class="p-3 mb-2 border rounded border-danger-subtle bg-danger-subtle text-danger-emphasis"
  >
    {{ error }}
  </div>
  }

  <div class="row mb-3">
    <div class="col-md-7">
      <label for="sizeType" class="form-label">Size name</label>
      <input
        formControlName="sizeType"
        class="form-control"
        id="sizeType"
        placeholder="NAME_SIZE"
        autocomplete="true"
      />
    </div>
    <div class="col-md-5">
      <label for="sizeValue" class="form-label">Priority</label>
      <input
        formControlName="sizeValue"
        class="form-control"
        id="sizeValue"
        placeholder="1"
        type="number"
        max="10"
        min="1"
        autocomplete="true"
      />
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-md-7">
      <label for="height" class="form-label">Height</label>
      <input
        formControlName="height"
        class="form-control"
        id="height"
        placeholder="100"
        type="number"
        max="2000"
        min="100"
        autocomplete="true"
      />
    </div>
    <div class="col-md-5">
      <label for="width" class="form-label">Width</label>
      <input
        formControlName="width"
        class="form-control"
        id="width"
        placeholder="100"
        type="number"
        max="2000"
        min="100"
        autocomplete="true"
      />
    </div>
  </div>

  <div class="row mb-3 align-items-end">
    <div class="col-md-6">
      <label for="sizeFeeId" class="form-label">Size Fee</label>
      <select formControlName="sizeFeeId" class="form-select" id="sizeFeeId">
        <option value="" disabled selected hidden>Select Fee</option>
        <option *ngFor="let fee of sizeFees" [value]="fee.feeId">
          {{ fee.feeType }} - ${{ fee.feeValue }}
        </option>
      </select>
    </div>
  </div>

  <div class="mt-3 row justify-content-end">
    <div class="col-auto">
      <button type="submit" class="btn btn-primary" (click)="submit()">
        Submit
      </button>
    </div>
  </div>
</form>
