<div class="container-fluid d-flex justify-content-center align-items-center">
  <div class="row">
    <div class="col">
      <div class="card p-4">
        <h2 class="text-center mb-4">StreamingStudio</h2>
        <div class="text-danger">
          @if (loginError !== '') {
          <div>Error on login</div>
          }
        </div>
        <form [formGroup]="loginFormGroup">
          <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input
              formControlName="email"
              type="email"
              class="form-control"
              id="email"
              aria-describedby="email"
              placeholder="example@email.com"
              autocomplete="true"
            />
            <div class="text-danger">
              @if (email.invalid && (email.dirty || email.touched)) {
              <div *ngIf="email.errors?.['required']">Email is required.</div>
              <div *ngIf="email.errors?.['email']">Email is invalid.</div>
              }
            </div>
          </div>
          <div class="mb-3">
            <label for="password" class="form-label" i18n>Password</label>
            <input
              formControlName="password"
              type="password"
              class="form-control"
              id="password"
              placeholder="Password"
              autocomplete="true"
            />
            <div class="text-danger">
              @if (password.invalid && (password.dirty || password.touched)) {
              <div *ngIf="password.errors?.['required']">
                Password is required.
              </div>
              }
            </div>
          </div>
          <div class="d-grid gap-2">
            <button
              type="submit"
              class="btn btn-primary btn-lg"
              (click)="login()"
            >
              Sign in
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
